.label {
    -fx-font-size: 18pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: black;
    -fx-text-align: right;
    -fx-border-style: solid;
    -fx-border-color: indigo;
    -fx-border-width: 2px;

}

.button {
    -fx-font-size: 24pt;
    -fx-font-family: "Arial";
    -fx-border-radius: 30%;
    -fx-border-style: solid;
    -fx-border-width: 0.3px;
    -fx-opacity: 0.7;
}

#operateur {
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-opacity: 0.7;
    -fx-background-color : purple;
    -fx-background-radius: 30%;
}

#chiffre {
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-opacity: 0.7;
    -fx-background-color : brown;
    -fx-background-radius: 30%;
}

#egal {
    -fx-text-fill: white;
    -fx-border-style: hidden;
    -fx-opacity: 0.7;
    -fx-background-color : darkgreen;
    -fx-background-radius: 20%;
}